<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div><h1>{{title}}</h1></div>
  <label>Customer Id
    <input [(ngModel)]="customerId" placeholder="customerId"/>
  </label>

  <p>Customer risk profile: {{customerPortfolio.customerRiskProfile}}</p>
  <div class="row">
    <div class="column">
      <h2>Customer real portfolio</h2>
      <div id="chartPortfolioReal" style="width: 500px;"></div>
    </div>
    <div class="column">
      <h2>Customer recommended model portfolio</h2>
      <div id="chartPortfolioModel" style="width: 500px;"></div>
    </div>

  <!--<ul>
    <li *ngFor="let productAndPercent of customerPortfolio.productsAllocation" (click)="onSelect(productAndPercent[0])">
      {{productAndPercent[0].name}} ({{productAndPercent[0].id}}): {{productAndPercent[1]}}%
    </li>    
  </ul>

  <ul>
    <li *ngFor="let productAndPercent of customerPortfolio.customerModelPortfolio.productsAllocation" (click)="onSelect(productAndPercent[0])">
      {{productAndPercent[0].name}} ({{productAndPercent[0].id}}): {{productAndPercent[1]}}%
    </li>
  </ul>-->
</div>
</div>

<router-outlet></router-outlet>
