<!--The content below is only a placeholder and can be replaced.-->

<mat-card [style.backgroundColor]="'#EAEDED'">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Presentation of real customer portfolio and recommended model</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <label>Customer Id: <input [(ngModel)]="customerId" placeholder="customerId"/></label>
    </p>
    <p>Customer risk profile: {{customerPortfolio.customerRiskProfile}}</p>    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button onClick="window.print();">Print</button>    
  </mat-card-actions>
</mat-card>

<div class="main">  
  <div class="row">
    <div class="column">
      <h2>Current portfolio</h2>
      <div class="grouping-buttons">
        <button mat-raised-button color="primary" (click)="onSelected('real','product');">By products</button>
        <button mat-raised-button color="primary" (click)="onSelected('real','industry');">By industry</button>
        <button mat-raised-button color="primary" (click)="onSelected('real','currency');">By currency</button>
        <div style="clear: both">
          <button mat-raised-button (click)="onHistory('real');">History by product</button>
          <button mat-raised-button color="accent" (click)="onPrediction('real');">Analysis</button>
        </div>
      </div>
      <div id="chartPortfolioReal" style="width: 500px;"></div>
    </div>
    <div class="column">
      <h2>Recommended portfolio</h2>
      <div class="grouping-buttons">
        <button mat-raised-button color="primary" (click)="onSelected('model','product');">By products</button>
        <button mat-raised-button color="primary" (click)="onSelected('model','industry');">By industry</button>
        <button mat-raised-button color="primary" (click)="onSelected('model','currency');">By currency</button>
        <div style="clear: both">
          <button mat-raised-button (click)="onHistory('model');">History by product</button>
          <button mat-raised-button color="accent" (click)="onPrediction('model');">Analysis</button>
          <button mat-raised-button color="warn" (click)="onCommit();">Commit</button>
        </div>
      </div>
      <div id="chartPortfolioModel" style="width: 500px;"></div>
    </div>  
  </div>
  <div class="row">
      <div id="valueChart" style="width: 90%;"></div>
  </div>
</div>

<router-outlet></router-outlet>
