/* Application-wide Styles */
body {
  padding: 10px;
}
body, h1, h2, h3 {
  color: #444;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: lighter;  
}  
h1 {
  color: #3f51b5;
  font-weight: bolder;
}
* {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.main {
  margin: 20px;
}

* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;   
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.grouping-buttons button {
  margin-right: 8px;
}


